// Colors
$body-bg:#1e202a;
$White:#fff;
$text_color_in_search:#06c;
$hover_text_color_search:#366191;
$hover_bg_search:#d9eaff;
$border-color:#eee;
// Fonts
$font:'Varela Round', sans-serif;
$movie_detils-font:'Open Sans', sans-serif;